* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgb(75, 75, 75);
}

body {
  background-color: #eef3ff;
}

.page {
  width: 80em;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #eef3ff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.page-header img {
  height: 5em;
}

.transparent-bottom {
  height: 2em;
  position: sticky;
  top: 6em;
  background: linear-gradient(#eef3ff, rgba(255, 255, 255, 0.011));
}

.cards-collection {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  z-index: 2;
}

.card {
  border-radius: 10px;
  padding: 0.7em;
  width: 200px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0px 10px gray;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.pokemon-image {
  box-sizing: border-box;
  background: linear-gradient(#34ffff, hsl(70, 68%, 66%));
  border-radius: 7px;
}

.property {
  width: 100%;
  transition: 2s;
  display: flex;
  font-size: 0.7em;
  justify-content: space-between;
}

.card:hover .property:nth-child(even) {
  transform: translate(-18em, -6em);
}

.card:hover .property:nth-child(odd) {
  transform: translate(18em, -5em);
}

.pokemon-image img {
  width: 100%;
  aspect-ratio: 1;
}

.pokemon-name {
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  text-transform: capitalize;
}

.property-heading {
  text-align: left;
}

.property-data {
  text-align: right;
}
