* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
}

body {
  background: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/23922676/Pokemon_SV_Worldmap.jpg);
  background-size: contain;
  backdrop-filter: blur(10px);
}

.page {
  width: 80em;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  padding: 0.5em;
  background: linear-gradient(#0d6ec0, #bce7fd);
  position: sticky;
  top: 0;
  z-index: 1;
}

.page-header img {
  height: 5em;
}

.transparent-bottom {
  height: 2em;
  position: sticky;
  top: 6em;
  background: linear-gradient(#bce7fd, rgba(255, 255, 255, 0));
}

.cards-collection {
  padding: 1em;
  width: 100%;
  display: flex;
  z-index: 2;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 280px;
  height: fit-content;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0px 10px gray;

  display: flex;
  flex-direction: column;
  gap: 0.6em;

  transition: 2s;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-image {
  box-sizing: border-box;
  background: linear-gradient(#34ffff, hsl(70, 68%, 66%));
  border-radius: 7px;
}

.pokemon-image img {
  width: 100%;
  aspect-ratio: 1;
}

.pokemon-name {
  font-weight: 600;
  font-size: 1.4em;
  text-transform: capitalize;
}

.properties {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.property {
  width: 100%;
  transition: 2s;
  font-size: 1em;

  display: flex;
  justify-content: space-between;
}

.cards-collection:has(.card:hover) .card:not(:hover) {
  filter: blur(7px);
}

.card:hover {
  z-index: 1;
  height: 320px;
  scale: 1.1;
  translate: 0 20%;

  .property {
    width: 80%;
    font-weight: 600;
    padding: 0.3em;
    background-color: rgba(255, 255, 255, 0.541);
    border: 1px solid black;
    border-radius: 20px;
  }

  .property > div {
    text-shadow: 1px 0px 5px rgb(255, 255, 255);
  }

  .property:nth-child(even) {
    translate: -15em -6em;
  }

  .property:nth-child(odd) {
    translate: 18em -4em;
  }
}
